<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all albums</title>
</head>
<body>
<h1>Overview of all albums in the record store</h1>

<table>
    <th>
        <td>title</td>
    </th>
    <tr th:each="album : ${albums}">
        <td th:text="${album.title}"></td>
        <td><a th:href="@{/album/edit/{albumId}(albumId = ${album.albumId})}">Edit</a></td>
        <td><a th:href="@{/album/delete/{albumId}(albumId = ${album.albumId})}">Delete</a></td>

    </tr>
</table>

<a th:href="@{/album/add}">Add a new album</a>

</body>
</html>